*~
*.out
*.o
*.a
autom4te.cache/
.autotools
.cproject
.project
.settings/
.deps/
Makefile
Makefile.in
INSTALL
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
autoscan.log
configure.scan
config.h.in
config.h
stamp-h1
gMaxLinked